@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-label {
  color: $primary-color-light !important;
}

.mat-form-field-underline,
.mat-form-field-ripple {
  background-color: $primary-color !important;;
}
